<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワードの変更</title>
</head>
<body>
<h1>パスワードの変更</h1>
<label>新しいパスワードを入力してください</label><br>
<form action="{% url 'pw_change' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="empId" value="{{ empId }}">
    <div style="text-align: center;"> パスワード: </div> <div style="text-align: center;"><input type="password" name="empPasswd1"><br></div>
    <div style="text-align: center;"> 確認パスワード:</div>  <div style="text-align: center;"><input type="password" name="empPasswd2"><br></div>
    <div style="text-align: center;"> <input type="submit" value="変更" disabled> </div>
</form>

<script>
    const inputs = document.querySelectorAll('input[type=password]');
    const submitButton = document.querySelector('input[type=submit]');
    Array.from(inputs).forEach(input => {
        input.addEventListener('input', () => {
            submitButton.disabled = Array.from(inputs).some(input => !input.value) || inputs[0].value !== inputs[1].value;
        });
    });
</script>
</body>
</html>